<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#+
  void SaveOutput(string fileName)
  {
      File.WriteAllText(fileName, this.GenerationEnvironment.ToString()); 

      this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
  }
#>